@import "../../assets/variables";

* {
  --locked-color: #5fadbf;
  --unlocked-color: #ff5153;
}
.container {
  display: flex;
}

.commitmentInput {
  display: flex;
  align-items: center;
  padding: 0px 5px 2px 0px;
  border-bottom: 2px solid $primary;
}

.input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  background: none;
  color: $white;
  font-size: 16px;
  font-family: inherit;
  margin-bottom: 5px;
  width: 100%;
  color: $gray;
}
.lockedInput {
  color: $white;
}

/* Locked */
.lock {
  width: 12px;
  height: 10px;
  border: 2px solid var(--locked-color);
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.lock:after {
  content: "";
  display: block;
  background: var(--locked-color);
  width: 1px;
  height: 3px;
  position: absolute;
  top: 65%;
  left: 60%;
  margin: -3.5px 0 0 -2px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.lock:before {
  content: "";
  display: block;
  width: 6px;
  height: 7px;
  bottom: 100%;
  position: absolute;
  left: 9px;
  margin-left: -8px;
  border: 2px solid var(--locked-color);
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom: 0;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* Locked Hover */
.lock:hover:before {
  height: 8px;
}
/* Unlocked */
.unlocked {
  transform: rotate(10deg);
}
.unlocked:before {
  bottom: 118%;
  left: 70%;
  margin-left: -11.5px;
  transform: rotate(-45deg);
}
.unlocked,
.unlocked:before {
  border-color: $secondary;
}
.unlocked:after {
  background: $secondary;
}
/* Unlocked Hover */
.unlocked:hover {
  transform: rotate(3deg);
}
.unlocked:hover:before {
  height: 7px;
  left: 90%;
  bottom: 125%;
  transform: rotate(-20deg);
}
